<h1>ESTO ES USUARIOOOOOOOS LOKOOOOOO</h1>

<ul>
    {{#each users }}
    <li>nombre:{{first_name}}</li>
    <li>apellido:{{last_name}} </li>
    <li>correo:{{email}} </li>
    <li>rol:{{role}} </li>
    {{/each}}

</ul>

{{!--   //si dejas un eapcio en el each no te lo va a renderizar acordate que no debes dejar espacios como seria aqui {{# each usuarios}}, esto esta reeee mal 
     --}}




